<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="ANSI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #c7c7c7;
            margin: 0;
            padding: 0;
            color: #333;
            font-size: 46px;
        }
        .dashboard {
            display: flex;
            width: 100%;
            height: 92vh;
            align-items: stretch;
        }
        .table-container {
            background-color: #504f4f;
            border: 3px solid black;
            overflow-x: auto;
            display: flex;
            position: relative;
            font-size: 46px;
            padding: 10px;
            flex: 1;
        }
        .table-container:first-child {
            flex: 3;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
            word-break: break-word;
        }
        th, td {
            background-color: #504f4f;
            padding: 10px;
            text-align: left;
            color: white;
            border: none;
            vertical-align: middle;
            font-size: 40px;
        }
        th {
            background-color: #494949; 
            color: yellow;
            font-size: 36px;
            padding: 10px;
            height: 20px;
            text-align: left;
        }
        .yellow-bg { 
            background-color: #504f4f; 
            color: rgb(250, 234, 9); 
        }
        .gray-bg { 
            background-color: #504f4f; 
            color: white; 
        }
        .gray-apr { 
            background-color: #504f4f; 
            color: yellow; 
        }
        .error-message {
            color: red;
            background-color: #ffe6e6;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            display: none;
        }
        .destaque-cell {
            border: 1px solid yellow;
            color: yellow;
            font-weight: bold;
        }
        .imparhora-cell {
            background-color: #5f5f5f;
            color: white;
        }
        h2 {
            font-size: 16px;
        }
        .message {
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            font-size: 36px;
        }
        .big-number {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 80px;
            color: rgb(250, 234, 9);
            font-weight: bold;
            z-index: 1;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .big-number-b {
            position: absolute;
            top: 60%;
            left: 88%;
            transform: translate(-50%, -50%);
            font-size: 80px;
            color: rgb(250, 234, 9);
            font-weight: bold;
            z-index: 1;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }


        @media (max-width: 767px) {
            .dashboard {
                flex-direction: column;
            }
            .table-container {
                flex: auto;
            }
            .table-container:first-child {
                flex: auto;
            }
        }
    </style>
    <meta http-equiv="refresh" content="13">
</head>
<body>
    <div id="errorMessage" class="error-message"></div>
    <h2><span id="systemMessage" class="message">{{elementos.[1]}}</span></h2>
    <div class="dashboard">
    <div class="table-container">
        <div class="big-number">{{elementos.[9]}}</div>
        <div class="big-number-b">{{elementos.[14]}}</div>
        <table>
            <tr>
                <th colspan="3">Periodo: <span id="periodoSpan">{{elementos.[2]}}</span></th>
            </tr>
            <tr>
                <td colspan="3" class="destaque-cell">Produto: <span id="produtoSpan">{{elementos.[4]}}</span></td>
            </tr>
            <tr>
                <td class="yellow-bg" style="width: 33.33%;">Planejado</td>
                <td style="background-color: {{elementos.[40]}}; color: black; width: 33.33%;"><span id="valor16">{{elementos.[5]}}</span></td>
                <td class="gray-bg" style="width: 33.33%;"><span id="valor17">{{elementos.[10]}}</span></td>
            </tr>
            <tr>
                <td class="yellow-bg" style="width: 33.33%;">Expectativa</td>
                <td style="background-color: {{elementos.[40]}}; color: black; width: 33.33%;"><span id="valor18">{{elementos.[6]}}</span></td>
                <td class="gray-bg" style="width: 33.33%;"><span id="valor19">{{elementos.[11]}}</span></td>
            </tr>
            <tr>
                <td class="yellow-bg" style="width: 33.33%;">Produzido</td>
                <td style="background-color: {{elementos.[40]}}; color: black; width: 33.33%;"><span id="valor20">{{elementos.[7]}}</span></td>
                <td class="gray-bg" style="width: 33.33%;"><span id="valor21">{{elementos.[12]}}</span></td>
            </tr>
            <tr>
                <td class="yellow-bg" style="width: 33.33%;">Reprovado</td>
                <td style="background-color: {{elementos.[40]}}; color: black; width: 33.33%;"><span id="valor22">{{elementos.[8]}}</span></td>
                <td class="gray-bg" style="width: 33.33%;"><span id="valor23">{{elementos.[13]}}</span></td>
            </tr>
            <tr>
                <td class="gray-bg" style="width: 33.33%;"> </td>
                <td class="gray-bg" style="width: 33.33%;">Hora </td>
                <td class="gray-bg" style="width: 33.33%;">Turno </td>
            </tr>
        </table>
    </div>

    <div class="table-container">
        
        <table>
            <tr>
                <th colspan="2">Linha: <span id="linhaSpan">{{elementos.[3]}}</span></th>
            </tr>
            <tr>
                <td colspan="2" class="destaque-cell">Hora X Hora</td>
            </tr>
            <tr>
                <td class="destaque-cell">Hora</td>
                <td class="destaque-cell">Produção</td>
            </tr>
            <tr><td>{{elementos.[15]}}</td><td><span id="valor24">{{elementos.[25]}}</span></td></tr>
            <tr><td class="imparhora-cell">{{elementos.[16]}}</td><td class="imparhora-cell"><span id="valor25">{{elementos.[26]}}</span></td></tr>
            <tr><td>{{elementos.[17]}}</td><td><span id="valor26">{{elementos.[27]}}</span></td></tr>
            <tr><td class="imparhora-cell">{{elementos.[18]}}</td><td class="imparhora-cell"><span id="valor27">{{elementos.[28]}}</span></td></tr>
            <tr><td>{{elementos.[19]}}</td><td><span id="valor28">{{elementos.[29]}}</span></td></tr>
            <tr><td class="imparhora-cell">{{elementos.[20]}}</td><td class="imparhora-cell"><span id="valor29">{{elementos.[30]}}</span></td></tr>
            <tr><td>{{elementos.[21]}}</td><td><span id="valor30">{{elementos.[31]}}</span></td></tr>
            <tr><td class="imparhora-cell">{{elementos.[22]}}</td><td class="imparhora-cell"><span id="valor31">{{elementos.[32]}}</span></td></tr>
            <tr><td>{{elementos.[23]}}</td><td><span id="valor32">{{elementos.[33]}}</span></td></tr>
            <tr><td class="imparhora-cell">{{elementos.[24]}}</td><td class="imparhora-cell"><span id="valor33">{{elementos.[34]}}</span></td></tr>
        </table>
    </div>
</div>
</body>
</html>